body{
    background-image: url("../images/library.jpeg");
    height: 100%;
}

.website {
    /*display: flex;*/
    /*justify-content: center;*/
    color: floralwhite;
}

button{
    cursor: pointer;
    border-radius: 25%;
    background-color: black;
    color: floralwhite;
}