body {
    background-color:lightblue;
    align-items: center;
}

h1{
    text-align: center;
    text-decoration: underline;
    color: darkred;
}

h3{
}

span {
    margin: 20px;
}

button:hover{
    color: white;
    transition: 0.5s color;
    background-color: #d0b81f;
    cursor: pointer;
}
